/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* fonts */
/* colors */
/* layout */
/* media */
.spacing, section, header {
  padding: 10px; }

.center, main {
  margin: 0 auto; }

* {
  box-sizing: border-box;
  font-size: 100%;
  font-family: Arial, Helvetica, "Sans Serif"; }

/* headers */
h1 {
  font-size: 2em;
  color: #ffffff; }

h2 {
  color: #176B52;
  margin-bottom: 1em; }

/* form */
label {
  width: 100%; }

input {
  width: 100%;
  margin-bottom: 10px;
  transition: all 0.5s ease; }

input:hover {
  background: #e6e6e6; }

/* buttons */
button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #176B52;
  border: 1px solid #176B52;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease;
  color: #ffffff; }

button:hover {
  background: #ffffff;
  color: #176B52; }

/* lists */
li {
  padding: 5px;
  margin-bottom: 5px; }

main {
  max-width: 100%; }

section {
  width: 100%; }

header {
  background: #BDDBD2;
  color: #ffffff; }

.errors li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #FCCECC;
  border: #B8514D 1px solid;
  color: #B8514D; }

.errors button {
  padding: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  background: #B8514D;
  border: 1px solid #B8514D; }

.errors button:hover {
  background: #ffffff;
  color: #B8514D; }

@media (min-width: 768px) {
  section {
    width: calc(50% - 10px);
    margin: 5px;
    float: left; } }

@media (min-width: 1200px) {
  main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    main::after {
      clear: both;
      content: "";
      display: table; } }
