<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Practice</title>
</head>
<body data-ng-app="fightApp">
  <main>
    <header>
      <h1>Dinosaurs VS Politicians</h1>
    </header>
    <section data-ng-controller="DinosaurController as dinoCtrl" data-ng-init="dinoCtrl.getAll()" class="dinosaurs">
      <h2>Dinosaurs</h2>
      <ul class="errors">
        <li data-ng-repeat="error in dinoCtrl.errors"><button data-ng-click="dinoCtrl.errors.splice(dinoCtrl.errors.indexOf(error, 1))">X</button> {{error.message}}
        </li>
      </ul>
      <div class="create" data-dino-form
          data-button-text="Play God"
          data-action="create"
          data-dino="dinoCtrl.newDino">
      </div>
      <div data-dino-list data-dinosaurs="dinoCtrl.dinosaurs"></div>
    </section>
    <section data-ng-controller="PoliticianController as politicianCtrl" data-ng-init="politicianCtrl.getAll()" class="politicians">
      <h2>Politicians</h2>
      <ul class="errors">
        <li data-ng-repeat="error in politicianCtrl.errors"><button data-ng-click="politicianCtrl.errors.splice(politicianCtrl.errors.indexOf(error, 1))">X</button> {{error.message}}
        </li>
      </ul>
      <div class="create" data-politician-form
          data-button-text="Groom Politician"
          data-action="create"
          data-politician="politicianCtrl.newPolitician">
      </div>
      <div data-politician-list data-politicians="politicianCtrl.politicians"></div>
    </section>
    <section data-ng-controller="JointController as jointCtrl">
      <h2>World Information</h2>
      <p>Number of deaths in the universe: {{jointCtrl.counter.count}}</p>
    </section>
</main>
  <script src="./bundle.js"></script>
</body>
</html>
