* {
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: $base-font-family;
}

/* headers */

h1 {
  font-size: 2em;
  color: $primary-color
}

h2 {
  color: $secondary-color;
  margin-bottom: 1em;
}

/* form */

label {
  width: 100%;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

/* buttons */
button {
  @include border-radius(5px);
  background: $secondary-color;
  color: $secondary-bg;
  border:1px solid $secondary-color;
  cursor: pointer;
  padding: $padding;
}

button:hover {
  background: $secondary-bg;
  color: $secondary-color;
  transition: all 0.5s ease;
}

/* lists */

li {
  padding: $padding/2;
  margin-bottom: $padding/2;
}
