/* Variables */
$base-font-size: 100%;
$base-font-family: Arial, Helvetica, "Sans Serif";

$primary-bg : #BDDBD2;
$primary-color : #ffffff;
$secondary-color : #176B52;

$width : 100%;
$gutter: 10px;
$breakpoint-web: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 500px;
